.geaglts {
    background: #6369d1;
    background: #60e1e0;
    background: #d8d2e1;
    background: #b88e8d;
    background: #34435e;
}

html {
    font-family: "Nunito", sans-serif;
    color: #34435e;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
    color: #6369d1;
}

a:hover {
    opacity: 0.6;
}

.container {
    background: #34435e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #60e1e0,
        #6369d1
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #60e1e0,
        #6369d1
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: #d8d2e1;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    padding: 1.8em;
}

.paragraph {
    line-height: 1.8em;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table th,
.table td {
    text-align: left;
    padding: 1em;
}

.fa-star {
    color: #6369d1;
}

.table tr:nth-child(even) {
    background-color: #b88e8d;
}

.title-item {
    border-bottom: solid 2px #6369d1;
    padding-bottom: 1em;
    margin-left: 10px;
    font-size: 1.8em;
    text-transform: uppercase;
}

.position {
    padding: 10px;
    background-color: #6369d1;
    color: white;
    border-radius: 4px;
}

.actions {
    position: absolute;
    right: 1em;
    top: 1em;
}

.close {
    height: 40px;
    width: 40px;
    color: #d8d2e1;
    border-radius: 50%;
    background-color: #6369d1;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.address {
    color: #6369d1;
    font-weight: 700;
    font-size: 1.2em;
}

.main-image {
    margin-right: 1em;
    float: left;
    height: 250px;
}
